.home-container {
    display: flex;
    justify-content: space-between;
}
.left-align-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 200px;
}